<body>
  <div class="content">
    <div class="blurb-box col-10 offset-1">
      <h1 class="mel-blurb">Melanie is a <%= link_to "Frontend Developer", about_index_path, id: 'port-link' %> and <%= link_to "writer", "https://medium.com/@melanie.a.locke", :target => "_blank" %>.</h1>
    </div>
  </div>
</body>