<body class="home-page">
  <div class="test-animation">
    
  </div>
  <div class="content">
    <div class="blurb-box col-10 offset-1">
      <h1 class="mel-blurb">Melanie is a Frontend Developer and creative writer.</h1>
      <button type="button" class="learn-more btn btn-outline-light">
        <%= link_to 'Learn More', portfolio_index_path %>
      </button>
    </div>
  </div>
</body>