<body class="about-page">
  <div class="content container-fluid">
    <div class="row">
      <div class="about-photo col offset-1">
        <%= image_tag "/assets/melanie-headshot.jpg", width:'400', :alt => "Headshot of Melanie wearing a green sweater in front of a tree" %>
      </div>
      <div class="about-bio col">
        <p>Melanie is a full-stack web developer with a passion for technology that brings people together.</p>
      </div>
    </div>
  </div>
</body>