<body>
  <div class="content container">
    <!-- Pic and blurb (lg – side by side, sm — photo over blurb) -->
    <div class="row">
      <div class="about-photo col-sm-4">
        <%= image_tag "/assets/melanie-headshot.jpg", class: 'head-shot', :alt => "Headshot of Melanie wearing a green sweater in front of a tree" %>
      </div>
      <div class="about-bio col">
        <p>Melanie is a full-stack web developer with a passion for technology that brings people together.</p>
        <p class="email">Get in touch: <%= mail_to "melanie.a.locke@gmail.com" %></p>
      </div>
    </div>
  </div>
</body>
