// Place all the styles related to the book-recs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.boxtop {
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  background-color: #FFBF00;
}
.recs-intro {
  padding-top: 60px;
  padding-bottom: 60px;
}
.collapsible {
  background-color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
}
.active, .collapsible:hover {
  background-color: #009e74;
}
.collapse-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2x ease-out;
}
.rec {
  font-size: 1em;
  margin: 1.25em;
  margin-bottom: 30px;
  padding: 1em;
  text-align: center;
}
.book-cover {
  text-align: center;
  height: 20em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.title {
  font-family: 'Bebas Neue', cursive;
  color: #FFBF00;
}
.author {
  font-family: 'Bebas Neue', cursive;
  color: #FFBF00;
}
.review-content {
  background: #ffffff;
  color: black;
  text-align: left;
  padding: 1em;
}
.review-content a {
  color: #0d805b;
}
.if-you-like {
  color: #000000;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
}
#placeholder {
  background: #FFc219;
  border: none;
}