// Place all the styles related to the home_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blurb-box {
  height: 100%;
  width: 100%;
  text-align: center;
}
.mel-blurb {
  font-size: 5em;
  vertical-align: middle;
}