// Place all the styles related to the home_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blurb-box {
  position: relative;
  height: 500px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
.mel-blurb {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 5em;
  transform: translate(-50%, -50%);
}
#port-link:hover {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #009e74;
}