@import "bootstrap";
@import "font-awesome";

html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
  color: white;
  background-color: #FFBF00;
}
.clear {
  clear: both;
}
.navbar {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.75em;
}
.nav-link:hover {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #009e74;
}
.yellow-text {
  color: #FFBF00;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  background-color: #FFBF00;
  margin-top: 30px;
}
.btn {
  color: white;
}
.btn a {
  color: white;
  font-family: 'Bebas Neue', cursive;
}
.btn a:hover {
  color: #FFC219;
}
.footer-icons {
  margin: 10px;
}
.fa {
  margin-right: 8px;
}
.footer-icons a {
  color: white;
}
.footer-icons a:hover {
  color: #009e74;
  text-decoration: none;
}
a {
  color: #000000;
}
a:hover {
  color: #009e74;
  text-decoration: none;
}