@import "bootstrap";
@import "font-awesome";

html, body {
  height: 100%;
}
.clear {
  clear: both;
}
.navbar {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.75em;
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
  color: white;
  background: #FFBC00;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  background-color: #0D805B;
}
.blurb-box {
  height: 100%;
  width: 100%;
  text-align: center;
  
}
.mel-blurb {
  font-size: 5em;
  vertical-align: middle;
}
.head-shot {
  width: 100%;
}
.learn-more {
  margin-top: 8px;
}
.btn a {
  color: white;
  font-family: 'Bebas Neue', cursive;
}
.btn a:hover {
  color: #FFBC00;
}
.footer-icons {
  margin: 10px;
}
.fa {
  margin-right: 8px;
}
.footer-icons a {
  color: #3ECB93;
}
.footer-icons a:hover {
  color: white;
  text-decoration: none;
}
a {
  color: #0d805b;
}
a:hover {
  color: #3ECB93;
  text-decoration: none;
}
.about-bio {
  font-size: 1.75em;
}
.email a:hover {
  color: white;
}
.rec {
  background: #ffffff;
  border: solid #ffd243;
  color: black;
  font-size: 1em;
  margin: 10px;
  padding: 1em;
  text-align: center;
}
.book-cover {
  text-align: center;
  height: 20em;
}
.title {
  font-style: italic;
}
.review-content {
  text-align: left;
}
.if-you-like {
  color: #ef8d22;
}
#placeholder {
  background: #FFBC00;
  border: none;
}