@import "bootstrap";
@import "font-awesome";

//Animation CSS
@keyframes duckwalk {
  0%{
    border-radius:0 0 0 0;
    background: coral;
    transform:rotate(0deg);
  }
  25%{
    border-radius:50% 0 0 0;
    background: orange;
    transform:rotate(45deg);
  }
  50%{
    border-radius:50% 50% 0 0;
    background: red;
    transform:rotate(90deg);

  }
  75%{
    border-radius:50% 50% 50% 0;
    background: lightcoral;
    transform:rotate(135deg);
  }
  100%{
    border-radius:50%;
    background: darksalmon;
    transform:rotate(180deg);
  }
}

.duck-animation {
  width: 200px;
  height: 200px;
  background-color: coral;
  outline:1px solid transparent;
  animation: duckwalk 2s 1s infinite cubic-bezier(1,.015,.295,1.225) alternate;
}
//End animation css


html, body {
  height: 100%;
}
.clear {
  clear: both;
}
.navbar {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.75em;
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
  color: white;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  background-color: #0D805B;
}
.home-page {
  background: #FFBC00;
}
.about-page {
  background: #FFD240;
}
.portfolio-page {
  background: #FFC219;
}
.book-recs-page {
  background: #E6A800;
}
.blurb-box {
  height: 100%;
  width: 100%;
  text-align: center;
  
}
.mel-blurb {
  font-size: 5em;
  vertical-align: middle;
  
}
.learn-more {
  margin-top: 8px;
}
.btn a {
  color: white;
  font-family: 'Bebas Neue', cursive;
}
.btn a:hover {
  color: #FFBC00;
}
.footer-icons {
  margin: 10px;
}
.fa {
  margin-right: 8px;
}
.footer-icons a:hover {
  color: white;
  text-decoration: none;
}
a {
  color: #3ECB93;
}
.about-bio {
  font-size: 1.75em;
}
.email a:hover {
  color: white;
}